---
---

<footer class="footer flex justify-center bg-slate-800 py-12 w-full mt-52">
  <div
    class="footer__container flex flex-col items-center mx-4 md:mx-0 w-full md:w-4/5 lg:max-w-6xl"
  >
    <div class="footer__logo mb-4">
      <img src="/logo-white.svg" alt="logo-dark" />
    </div>
    <h3 class="footer__slogan text-white font-semibold text-1xl mb-10">
      ¡Puedes encontrarme tambien en redes sociales cómo Linkedin o Twitter!
    </h3>
    <div class="footer__social-media flex">
      <a href="" class="mx-3">
        <img src="/linkedin.svg" alt="" />
      </a>
      <a href="" class="mx-3">
        <img src="/twitter.svg" alt="" />
      </a>
      <a href="" class="mx-3">
        <img src="/mail.svg" alt="" />
      </a>
    </div>
  </div>
</footer>
