<section
  id="about-me"
  class="aboute-resume flex justify-center bg-purple-500 w-full py-36"
>
  <div
    class="aboute-resume__container flex flex-col items-center mx-4 md:mx-0 w-full md:w-4/5 lg:max-w-6xl"
  >
    <h4 class="text-3xl mb-11 text-center font-bold text-white">
      Hola, es un gusto conocerte
    </h4>
    <p class="text-white text-center font-medium">
      Soy un Frontend Developer con más de 3 años de experiencia trabajando con
      tecnologías cómo
    </p>
    <p class="mb-3">
      <strong class="text-slate-800 font-bold">ReactJS</strong>, <strong
        class="text-slate-800 font-bold">VueJS</strong
      >, <strong class="text-slate-800 font-bold">Nuxt</strong>, <strong
        class="text-slate-800 font-bold">Javascript</strong
      >, <strong class="text-slate-800 font-bold">Typescript</strong>, <strong
        class="text-slate-800 font-bold">HTML5</strong
      >, <strong class="text-slate-800 font-bold">CSS3</strong>, <strong
        class="text-slate-800 font-bold">SASS</strong
      >, <strong class="text-slate-800 font-bold">Tailwind</strong>, <strong
        class="text-slate-800 font-bold">Bootstrap</strong
      >
    </p>
    <p class="text-white text-center font-medium">
      También cuento con experiencia y conocimientos en el área de <strong
        class="text-slate-800 font-bold">UI/UX Design</strong
      >. Me encanta el mundo del desarrollo y los retos que este tiene al ser
      cambiante y estar en constante crecimiento, por lo que siempre estoy
      investigando y aprendiendo sobre nuevas tendencias, lenguajes y
      herramientas para estar actualizado.
    </p>
  </div>
</section>
