---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
import AboutResume from "../components/about-resume.astro";
---

<Layout title="Welcome to Astro.">
  <main class="main">
    <div class="main__container w-full flex flex-col items-center">
      <Hero />
      <AboutResume />
    </div>
  </main>
</Layout>
