---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
import AboutResume from "../components/about-resume.astro";
import Carrers from "../components/carrers.astro";
import Projects from "../components/projects.astro";
import Contact from "../components/contact.astro";
---

<Layout title="Welcome to Astro.">
  <main class="main scroll-smooth">
    <div class="main__container w-full flex flex-col items-center">
      <Hero />
      <AboutResume />
      <Carrers />
      <Projects />
      <Contact />
    </div>
  </main>
</Layout>
