@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --gray-0: #f9f9f9;
  --gray-05: #f6f6f6;
  --gray-1: #eee;
  --gray-2: #e6e6e6;
  --gray-3: #ccc;
  --gray-4: #bbb;
  --gray-5: #999;
  --gray-6: #575757;
  --gray-65: #3d3d3d;
  --gray-7: #2c2c2c;
  --gray-8: #252525;
  --gray-9: #1f1f1f;
  --gray-10: #181818;
  --gray-11: #111;
  --gray-12: #0f0f0f;
  --color-border: light-dark(var(--gray-3), var(--gray-65));
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

h1 {
  color: var(--gray-10);
  font-size: 2.75rem;
}

p {
  color: var(--gray-7);
}

body {
  background-color: white;
}
