<div id="about-me" class="aboute-resume flex justify-center bg-purple-500 w-full py-36">
  <div
    class="aboute-resume__container flex flex-col items-center mx-4 md:mx-0 w-full md:w-4/5"
  >
    <h4 class="text-3xl mb-11 font-bold text-white">
      Hola, Soy Andrés. Es un gusto conocerte
    </h4>
    <p class="text-white text-center font-medium">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of
    </p>
  </div>
</div>
