---
import Button from "./button.astro";
---

<div class="hero mt-5 mx-4 md:mx-0 w-full md:w-4/5">
  <div class="hero__container flex justify-between items-center">
    <div class="hero__info">
      <div class="hero__info__title mb-12">
        <h1 class="text-slate-700 text-5xl font-bold mb-2">
          Hey, Soy <span class="text-purple-500">Edwin</span>
        </h1>
        <h2 class="text-slate-700 text-3xl font-bold">Frontend Developer &</h2>
        <h2 class="text-slate-700 text-3xl font-bold">UI/UX Designer</h2>
      </div>
      <div class="hero__info__buttons flex gap-4">
        <Button name="Descargar CV" icon="cloud-arrow-down" type="primary" />
        <Button name="Github" icon="github-icon" type="secondary-outline" />
      </div>
    </div>
    <div class="hero__illustration">
      <img
        src="/PM-illustration.svg"
        alt="logo-dark"
        class="hidden md:block w-96 lg:w-full"
      />
    </div>
  </div>
</div>
