---
import Button from "./button.astro";
---

<script>
  const btnDownloadCV: HTMLButtonElement | any = document.getElementById('download-cv')
  const btnGitHub: HTMLButtonElement | any = document.getElementById('github')
  const githubURL: string = 'https://github.com/Andreseag'

  btnDownloadCV.addEventListener('click', () => {

  })

  btnGitHub.addEventListener('click', () => {
    window.open(githubURL, '_blank')
  })
</script>


<div class="hero px-4 md:px-0 w-full my-16 lg:my-0 lg:mt-5 md:w-4/5">
  <div class="hero__container flex justify-between items-center">
    <div class="hero__info">
      <div class="hero__info__title mb-12">
        <h1 class="text-slate-700 text-5xl font-bold mb-2">
          Hey, Soy <span class="text-purple-500">Edwin</span>
        </h1>
        <h2 class="text-slate-700 text-3xl font-bold">Frontend Developer &</h2>
        <h2 class="text-slate-700 text-3xl font-bold">UI/UX Designer</h2>
      </div>
      <div class="hero__info__buttons flex gap-4">
        <Button id="download-cv" name="Descargar CV" icon="cloud-arrow-down" type="primary" />
        <Button id="github" name="Github" icon="github-icon" type="secondary-outline" />
      </div>
    </div>
    <div class="hero__illustration">
      <img
        src="/PM-illustration.svg"
        alt="logo-dark"
        class="hidden sm:block w-96 lg:w-full"
      />
    </div>
  </div>
</div>
